ul >li {
    color: white;
    display: inline-block;
    line-height: 1.2em;
    margin: 0px 20px;
    padding: 10px 10px;
    border: 3px darkorange dashed;
}
main {
    text-align: center;
    overflow: scroll;
}
.contact_table {
    display: inline-block;
}
.contact_table, .contact_table th, .contact_table td {
    padding: 15px 15px;
    border: 3px solid darkorange;
}
.content_table_method::before {
    content: "*";
}
form {
    padding: 15px 15px;
    border: 3px solid darkorange;
    width: auto;
    text-align: center;
}
input {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
textarea {
    display: block;
    margin: 0 auto;
    text-align: center;
}
select {
    display: block;
    margin: 0 auto;
    text-align: center;
}